<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Industrial</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render partial: "shared/navbar" %>

    <div class="container mt-3">
      <% if notice.present? || alert.present? %>
        <%= render partial: "shared/flash", locals: { notice: notice, alert: alert} %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
